<!-- Becomes jumbotron component -->
<section class="jumbotron text-center">
     <div class="container">
       <h1 class="jumbotron-heading">Welcome to the Gallery</h1>
       <p class="lead text-muted">We hope you enjoy your stay, discover something awesome, and feel inspired to create.</p>
       <p class="lead">
         (Only want below to show up for authenticated user, guests default to public images and have the option removed.)
       </p>
       <p>
         <a href="#" class="btn btn-primary">Shared</a>
         <a href="#" class="btn btn-secondary">Personal</a>
       </p>
     </div>
   </section>
<!-- End jumbo -->

   <div class="album text-muted">
     <div class="container">

       <!-- To do: Becomes thumb component -->
       <div class="row">
         <div class="card">
           <img src="./app/imgs/1.jpg" alt="Card image cap" width="328" height="280">
           <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
         </div>
        <!-- end thumb -->

         <div class="card">
           <img src="./app/imgs/2.jpg" alt="Card image cap" width="328" height="280">
           <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
         </div>

         <div class="card">
           <img src="./app/imgs/3.jpg" alt="Card image cap" width="328" height="280">
           <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
         </div>

         <div class="card">
           <img src="./app/imgs/4.jpg" alt="Card image cap" width="328" height="280">
           <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
         </div>
         <div class="card">
           <img src="./app/imgs/5.jpg" alt="Card image cap" width="328" height="280">
           <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
         </div>
         <div class="card">
           <img src="./app/imgs/6.jpg" alt="Card image cap" width="328" height="280">
           <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
         </div>

         <div class="card">
           <img src="./app/imgs/1.jpg" alt="Card image cap" width="328" height="280">
           <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
         </div>
         <div class="card">
           <img src="./app/imgs/2.jpg" alt="Card image cap" width="328" height="280">
           <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
         </div>
         <div class="card">
           <img src="./app/imgs/3.jpg" alt="Card image cap" width="328" height="280">
           <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
         </div>
       </div>

     </div>
   </div>
